@model int
<a asp-controller="App" asp-action="ShoppingCart"><i class="fa fa-shopping-cart"></i></a>
<span id="shopping_cart111" class="badge badge-sea rounded-x" >@Model</span>
<div class="badge-open">
</div>
